#footer
  .container.text-center
    div © 2014 Rog&eacute;rio Ramos - rogerioramos.net.br
    div
      strong Free Thoughts
      |  Project ·
      |  Adapted by 
      a(href='http://rogerioramos.net.br') Rog&eacute;rio Ramos
    div
      | Code licensed under&nbsp;
      a(href='http://opensource.org/licenses/mit-license.html') MIT License - 
      a(href='https://github.com/sahat/hackathon-starter') Based on GitHub Project
