extends layout

block content
  h1 Yell, this is your place!
  p.lead
    | Write sentences up to 250 characters trying to share your thoughts....
  p
    form.form-horizontal(role='form', action='/thought', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type=text, name='txtYell', placeHolder='Write your 250 chars....', size=90) 
      button.btn.btn-default(type='submit')
        | Share

  p
    #{users} 
