extends layout

block content
  h1 Yell, this is your place!
  p.lead
    | Write sentences up to 250 characters trying to share your thoughts....
  p
    form.form-horizontal(id='thought-form', method='POST')
      input(type='hidden', id='_csrf', name='_csrf', value=_csrf)
      input(type='text', id='txtThought', name='txtThought', placeHolder='Write your 250 chars....', size='90')
      button.btn.btn-success(type='submit')
        |  Send

      script(type="text/javascript", src="http://www.google.com/recaptcha/api/challenge?k=" + secrets.captcha_pub)
      noscript
        iframe(src="http://www.google.com/recaptcha/api/noscript?k=" + secrets.captcha_pub, height="300", width="400", frameborder="0")
        br
        textarea(name="recaptcha_challenge_field", rows="3", cols="40")
        input(type="hidden", name="recaptcha_response_field", value="manual_challenge")

  p
    div.row
      each t, i in thoughtList
        div.col-md-12
            | Thinker:  #{t.thinker} -- #{t.thought}
            if t.create_at
              strong
                = " from " + moment(t.create_at).fromNow()
